/* test */
.top-head {
    background-color: rgb(44, 62, 80);
    color: white;
}

.mid-head {
    background-color: rgb(26, 188, 156);
    color: white;
}

.riguardo {
    background-color: rgb(26, 188, 156);
    color: white;
}

#form-button{
    background-color: rgb(26, 188, 156);
}

#about-btn {
    background-color: rgb(26, 188, 156);
    color: white;
}

footer .first-footer {
    background-color: rgb(58, 84, 109);
    color: white;
}

footer .end-page {
    background-color: rgb(44, 62, 80);
    color: white;
}